<div class="container">
  <p>You: <%= @question %></p>
</div>

<div class="container coach">
  <p>Your Coach: <%= @answer %></p>
</div>


<p class="link"> <%= link_to "Ask a new question", ask_path %> </p>
